:root {
  --gs-10: #101010;
  --gs-1c: #1c1c1c;
  --gs-22: #222222;
  --gs-44: #444444;
  --gs-66: #666666;
  --gs-88: #888888;
  --gs-aa: #aaaaaa;
  --gs-cc: #cccccc;
  --gs-ed: #ededed;
  --gs-f7: #f7f7f7;

  --white: #ffffff;
  --white-18: rgba(255, 255, 255, 0.18);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-80: rgba(255, 255, 255, 0.8);
}
